@{
    ViewBag.Title = "About";
}
<h4>@ViewBag.Title.</h4>
<h4>@ViewBag.Message</h4>

<p>Aprendendo Asp.Net MVC5</p>

<h2>O id passado como parâmetro da variavel ViewBag é: @ViewBag.id</h2>
<hr/>
<h2>O Code passado é: @ViewBag.code</h2>
