
@{
    ViewBag.Title = "Aprendizado";
}
<br/>
<br/>
<p><strong>@@ViewData, @@ViewBag e @@TempData:</strong> tem como objetivo transportar pequenas quantidades de dados entre views ou de controllers para views. <a target="_blank" href="http://www.macoratti.net/15/06/mvc_conc1.htm">Mais detalhes</a></p>
<hr />
<p><strong>Controller:</strong> tudo feito dentro de um controller é invisivel para o usuário.</p>
<hr />
<p><strong>@@html.Partial():</strong> Serve para lincar um pedaço de uma pagina, assim como o <strong>#include<></strong> funciona no PHP.</p>
<hr />
<p><strong>@@RenderBody:</strong> Serve para renderizar o conteudo que será inserido na pagina principal, "MasterPage".</p>
